DATABASE_URL=postgresql://postgres:EqVDEERmyqynjpDSCQwAyIxTQBmIfDbC@roundhouse.proxy.rlwy.net:33498/railway
SECRET_KEY=f1f79041a1827779aa511ddacd0cc6465c775283f1b451d5b5db3bd831885f3e
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=60

JIRA_BASE_URL=https://nec-team-wh633np6.atlassian.net
JIRA_EMAIL=2312032@nec.edu.in
JIRA_API_TOKEN=ATATT3xFfGF028dPHPl6kIYItwe8wGLo0QwKFgnF3EcSs2i1TAkA9sWc6wRxz1wWsDGHZflTm6wLmq7qWM3ImT5cYoNl5fFfi7z2zxl1uFgSc_fj5898OVO2xG-EIznf5LgcVr9OGPx3Q-3HGhu4bA8MrSo7_Mv6YwKvPJtRuWMUjMTOu-XXMeg=7C385EEB

AZURE_TENANT_ID=8f3c1a27-5d91-4b6f-a2c8-91d4e7f3c120
AZURE_CLIENT_ID=3b7d9f41-6a22-4e58-b7f9-2d14c8a5e901
AZURE_CLIENT_SECRET=Vx9!mQ2#Lp7@Ks4$Dn8^Tf1&Hy6*Za3
POWERBI_WORKSPACE_ID=6c2e9d14-4a77-41b5-9f8c-3d2a7e1b904f
POWERBI_DATASET_ID=1f8b3c56-7d29-4c10-a5e4-9b7d2f6a318c